body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.selectedTalk {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    margin-bottom: 0.5vh;
}

.errorBorder {
    border: 2px solid red;
}

#errorMessage {
    color: red;
    font-size: 1em;
}